.txtCell{
    width: 22rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comboBox {
    appearance: none; /* Elimina el estilo predeterminado */
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #fff; /* Color de fondo */
    border: 2px solid #000; /* Borde */
    height: 1.5rem;
    width: 11rem;
    font-size: 18px;
    color: #333;
    cursor: pointer;

    /* Agregar icono de flecha personalizado */
    background-image: url('../images/components/combobox/arrowpointbottom.png'); 
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
}

/* Efecto hover y focus */
.comboBox:hover {
    border-color: #0056b3;
}

.comboBox:focus {
    outline: none;
    border-color: #004494;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

#picture{
    display: flexbox;
    border: red 2px solid;
    float: left;
}